#box {
  width: 100%;
  height: 100vh;
}
#bodyColor {
  background: #f2f6f9;
}
.header {
  width: 100%;
  height: 3.75rem;
  background: #fff;
  border-bottom: .1rem solid #ccc;
  position: relative;
}
.header .hleft {
  width: 25%;
  height: 3.75rem;
  position: absolute;
  left: 0;
  top: 0;
}
.header .hleft h3 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.875rem;
}
.header .hleft h5 {
  width: 100%;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.875rem;
}
.header .hright {
  width: 50%;
  height: 3.75rem;
  position: absolute;
  left: 25%;
  top: 0;
  line-height: 3.75rem;
  text-align: center;
}
.header .hright span {
  padding: 0 .5rem;
  font-size: 1rem;
}
.header .hright input {
  font-size: 1rem;
}
.allsum {
  width: 100%;
  height: 3rem;
  border-bottom: .1rem solid #999;
  position: relative;
  margin-bottom: 1rem;
  background: #fff;
}
.allsum span {
  display: inline-block;
  width: 33.3%;
  position: absolute;
  top: -0.1rem;
  text-align: center;
  line-height: 3rem;
}
.allsum span:nth-child(1) {
  left: 0;
}
.allsum span:nth-child(2) {
  left: 33.3%;
}
.allsum span:nth-child(3) {
  left: 66.6%;
}
#box .active {
  border-bottom: .2rem solid #F37270;
}
.allstat1,
.allstat2 {
  width: 100%;
  display: none;
}
.allstat1 div,
.allstat2 div {
  width: 100%;
  height: 5rem;
  margin-bottom: 2.5rem;
  background: #fff;
}
.allstat1 div em,
.allstat2 div em,
.allstat1 div i,
.allstat2 div i,
.allstat1 div span,
.allstat2 div span {
  display: inline-block;
  width: 32%;
  line-height: 5rem;
}
.allstat1 div span,
.allstat2 div span {
  font-size: 1rem;
  color: #999;
  text-align: center;
}
.allstat1 div i,
.allstat2 div i {
  font-size: 1rem;
  color: #f37270;
  text-align: center;
}
.allstat1 div em,
.allstat2 div em {
  font-size: 1.5rem;
  color: #f37270;
  text-align: right;
}
.allstat3 {
  width: 100%;
  display: none;
}
.allstat3 div {
  width: 100%;
  height: 5rem;
  background: #fff;
}
.allstat3 div em,
.allstat3 div i,
.allstat3 div span {
  display: inline-block;
  width: 32%;
  line-height: 5rem;
}
.allstat3 div span {
  font-size: 1rem;
  color: #999;
  text-align: center;
}
.allstat3 div i {
  font-size: 1rem;
  color: #f37270;
  text-align: center;
}
.allstat3 div em {
  font-size: 1.5rem;
  color: #f37270;
  text-align: right;
}
#box .allstat1 {
  display: block;
}
